@font-face {
  font-family: "Teko";
  src: url("../assets/fonts/teko.ttf"); }

@font-face {
  font-family: "Verdana";
  src: url("../assets/fonts/verdana.ttf"); }

.wrapper {
  margin: 0 auto;
  max-width: 1170px; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; }

body {
  font-family: "Teko"; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: black;
  cursor: pointer; }

.brand_button {
  display: inline-block;
  padding: 17px 33px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  border: 2px solid #ffce40;
  background-color: #ffce40;
  color: #444349;
  font-weight: 600;
  text-transform: uppercase;
  transition: .2s; }
  .brand_button:hover {
    background-color: #ffd764;
    border-color: #ffd764; }

.section_intro .top-bar {
  padding: 15px 0;
  display: flex;
  justify-content: space-between; }
  .section_intro .top-bar__logo {
    display: flex;
    align-items: center;
    font-size: 40px;
    color: #444349;
    border-bottom: 2px solid #ffce40; }
  .section_intro .top-bar__right_panel {
    display: flex; }
    .section_intro .top-bar__right_panel .contacts_list {
      display: flex;
      align-items: center;
      list-style: none; }
      .section_intro .top-bar__right_panel .contacts_list li + li {
        border-left: 1px solid #e1e1e1;
        margin-left: 25px;
        padding-left: 25px; }
      .section_intro .top-bar__right_panel .contacts_list li {
        font-size: 24px;
        line-height: 1;
        font-weight: 400;
        letter-spacing: .075em; }
        .section_intro .top-bar__right_panel .contacts_list li i {
          color: #ffce40;
          margin-right: 12px;
          font-size: 20px; }
      .section_intro .top-bar__right_panel .contacts_list .work_hours i {
        font-size: 22px; }
      .section_intro .top-bar__right_panel .contacts_list .phone_number a {
        transition: .2s; }
        .section_intro .top-bar__right_panel .contacts_list .phone_number a:hover {
          color: #ffce40; }
    .section_intro .top-bar__right_panel .btn {
      padding: 12px 22px;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.08em;
      border: 2px solid #151515;
      margin-left: 42px;
      transition: .2s; }
      .section_intro .top-bar__right_panel .btn:hover {
        background-color: #ffce40;
        border-color: #ffce40;
        color: #ffffff;
        font-weight: 600; }

.section_intro .mid-bar {
  background-color: #444349; }
  .section_intro .mid-bar nav {
    display: flex;
    justify-content: space-between; }
    .section_intro .mid-bar nav ul {
      display: flex;
      align-items: center; }
    .section_intro .mid-bar nav .menu .active {
      border-top: 3px solid #ffce40;
      background-color: #ffffff1f; }
    .section_intro .mid-bar nav .menu__item {
      padding: 20px;
      font-size: 18px;
      letter-spacing: .05em;
      text-transform: uppercase;
      border-top: 3px solid #444349;
      transition: .2s; }
      .section_intro .mid-bar nav .menu__item a {
        color: #ffffff; }
      .section_intro .mid-bar nav .menu__item:hover {
        border-top: 3px solid #ffce40; }
    .section_intro .mid-bar nav .messenger-list__item {
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 18px; }
      .section_intro .mid-bar nav .messenger-list__item + li {
        padding-left: 20px; }
      .section_intro .mid-bar nav .messenger-list__item i {
        color: #ffffff;
        transition: .2s; }
        .section_intro .mid-bar nav .messenger-list__item i:hover {
          color: #ffce40; }

.section_intro .carousel-area {
  background: #c0c0c0 url(../assets/carousel/1564394886_kartinki_oboi_devushka_model_poza_devushka_shatenka_vzglja.jpg);
  background-size: cover;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .section_intro .carousel-area .carousel_content {
    text-align: center;
    text-transform: uppercase; }
    .section_intro .carousel-area .carousel_content__subtitle {
      font-weight: 400;
      letter-spacing: .15em;
      color: #ffce40;
      line-height: 1.15; }
    .section_intro .carousel-area .carousel_content__title {
      margin-top: 30px;
      margin-bottom: 30px;
      max-width: 540px;
      font-size: 70px;
      line-height: 1;
      color: #ffffff; }

.section_about .area_promo {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex; }

.section_about .promo_box + .promo_box {
  margin-left: 30px; }

.section_about .promo_box {
  text-align: center;
  max-width: 370px;
  padding: 66px 15px 50px;
  background: #ffffff;
  box-shadow: 0 0 13px -4px rgba(0, 0, 0, 0.17);
  transition: all .3s ease;
  margin-bottom: 40px; }
  .section_about .promo_box__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    .section_about .promo_box__icon img {
      width: 50px;
      position: absolute; }
    .section_about .promo_box__icon .figure {
      clip-path: polygon(0 28%, 50% 0, 100% 28%, 100% 72%, 50% 100%, 0 72%);
      transform: rotate(14deg);
      transform-origin: 100% 100%;
      width: 70px;
      height: 70px;
      background-color: #ffce40;
      transition: .3s;
      position: relative; }
  .section_about .promo_box__title {
    font-size: 24px;
    letter-spacing: 0.05em;
    transition: .3s; }
  .section_about .promo_box__decorLine {
    position: relative;
    max-width: 126px;
    width: 100px;
    height: 2px;
    margin: 20px auto 22px; }
    .section_about .promo_box__decorLine::before {
      position: absolute;
      content: '';
      height: 100%;
      left: 15px;
      right: 15px;
      background: #d7d7d7;
      transition: all .3s ease; }
  .section_about .promo_box__description {
    font-size: 14px;
    font-family: "Verdana", "sans-serif";
    letter-spacing: 0.05em; }
  .section_about .promo_box:hover {
    box-shadow: 0 0 13px -4px rgba(0, 0, 0, 0.4); }
    .section_about .promo_box:hover .promo_box__decorLine::before {
      left: 0px;
      right: 0px;
      background: #ffce40; }
    .section_about .promo_box:hover .promo_box__title {
      letter-spacing: 0.1em; }
    .section_about .promo_box:hover .figure {
      transform: rotate(4deg); }

.section_about .about_area {
  display: flex;
  height: 450px; }
  .section_about .about_area__item {
    flex: 1;
    margin-bottom: 50px;
    padding: 0 15px; }

.section_about .preview_block {
  position: relative; }
  .section_about .preview_block__item {
    position: absolute;
    height: 94%;
    width: 94%;
    top: 0;
    left: 0;
    transition: .3s ease; }
  .section_about .preview_block .preview_border {
    outline: 2px solid black; }
  .section_about .preview_block .preview_photo {
    top: 4%;
    left: 4%;
    background: url(../assets/img/1574866053_telki-v-nizhnem-bele-seksi-31.jpg) no-repeat 0 0;
    background-size: 100% 100%; }
  .section_about .preview_block:hover .preview_border {
    top: 4%;
    left: 4%; }
  .section_about .preview_block:hover .preview_photo {
    top: 0;
    left: 0; }

.section_about .about_description {
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; }
  .section_about .about_description__title {
    font-size: 48px;
    line-height: 1.20833;
    letter-spacing: 0.05em;
    font-weight: 300; }
  .section_about .about_description .tabs {
    position: relative;
    margin-bottom: 130px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 3px solid #e1e1e1; }
    .section_about .about_description .tabs .tab input[type="radio"] {
      display: none; }
    .section_about .about_description .tabs .tab :checked ~ .tab-content {
      display: block; }
    .section_about .about_description .tabs .tab :checked + .tab-title {
      color: #ffce40;
      border-bottom: 3px solid #ffce40; }
    .section_about .about_description .tabs .tab-title {
      color: #9b9b9b;
      font-size: 24px;
      padding-bottom: 10px;
      letter-spacing: 0.1em;
      cursor: pointer;
      transition: .3s; }
      .section_about .about_description .tabs .tab-title:hover {
        color: #ffce40; }
    .section_about .about_description .tabs .tab-content {
      display: none;
      position: absolute;
      padding: 30px 0;
      left: 0;
      font-family: "Verdana";
      color: #9b9b9b;
      line-height: 1.4; }
