// ---------------------------------------------------------- fonts -------------------------
@font-face {
    font-family: "Teko";
    src: url("../assets/fonts/teko.ttf");
}

@font-face {
    font-family: "Verdana";
    src: url("../assets/fonts/verdana.ttf");
}

// ---------------------------------------------------------- / fonts =======================
// ---------------------------------------------------------- mixins ------------------------
// ========================================================== / mixins ======================
// ---------------------------------------------------------- variables ---------------------
$brand_main_color: #ffce40;
$brand_secondary_color: #444349;
$main_text_color: #000;
$secondary_text_color: #9b9b9b;
$brand_main_font: "Teko";
$brand_secondary_font: "Verdana";
// ------------------------------------------------------------------------------------------
$screen_xs_max: 575px;
$screen_sm_max: 767px;
$screen_md_max: 991px;
$screen_lg_max: 1199px;
$screen_sm: 576px;
$screen_md: 768px;
$screen_lg: 992px;
$screen_xl: 1200px;
// ========================================================== / variables ===================
// ---------------------------------------------------------- commons -----------------------
* {
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;
}

body {
    font-family: $brand_main_font;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: $main_text_color;
    cursor: pointer;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.section_title {
    text-align: center;
    font-size: 48px;
    line-height: 1.20833;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.brand_main_button {
    display: inline-block;
    text-align: center;
    padding: 17px 33px;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.1em;
    border: 2px solid $brand_main_color;
    background-color: $brand_main_color;
    color: $main_text_color;
    // font-weight: 600;
    text-transform: uppercase;
    transition: .1s;
    &:hover {
        transform: scale(1.04);
    }
}

.brand_secondary_button {
    display: inline-block;
    text-align: center;
    padding: 12px 22px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.08em;
    border: 2px solid #151515;
    transition: .1s;
    text-transform: uppercase;
    min-width: 100px;
    &:hover {
        background-color: $brand_main_color;
        border-color: $brand_main_color;
        color: $main_text_color;
    }
}

#btn_to_top {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 20px;
    background: $brand_main_color;
    color: #fff;
    font-size: 20px;
    padding: 14px 18px;
    cursor: pointer;
    z-index: 100;
    transition: .3s;
    &:hover {
        background: $brand_secondary_color;
    }
}

@media (min-width: $screen_lg) {
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
    }
}

@media (max-width: $screen_md_max) {
    section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .section_title {
        text-align: center;
        font-size: 36px;
        line-height: 1.20833;
        margin-bottom: 50px;
        text-transform: uppercase;
    }
    .wrapper_mob {
        margin: 0 auto;
        max-width: 576px;
        width: 100%;
    }
}

// ========================================================== / commons ==================
// ---------------------------------------------------------- anketa -------------------------
.overlay {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.75);
    opacity: 0;
    pointer-events: none;
    transition: 0.35s ease-in-out;
    z-index: 101;
}

.overlay.open {
    opacity: 1;
    pointer-events: inherit;
}

.modal {
    background: white;
    box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.35);
    opacity: 0;
    pointer-events: none;
    transition: 0.35s ease-in-out;
    padding: 50px 20px;
    max-width: 576px;
    text-align: center;
    color: $brand_secondary_color;
    margin: 0 15px;
    .response {
        display: none;
        font-size: 30px;
        letter-spacing: 1px;
    }
    &.open {
        opacity: 1;
        pointer-events: inherit;
    }
    &.open .content {
        transform: translate(0, 0px);
        opacity: 1;
    }
    .content {
        transform: translate(0, -10px);
        opacity: 0;
        transition: 0.35s ease-in-out;
        .modal_title {
            font-size: 48px;
            line-height: 1.20833;
            text-transform: uppercase;
        }
        .modal_description {
            font-size: 18px;
            font-family: $brand_secondary_font;
            margin-top: 10px;
            margin-bottom: 30px;
        }
    }
    #callback_forma {
        display: flex;
        flex-direction: column;
        .input {
            outline: none;
            font-size: 18px;
            padding: 15px;
            letter-spacing: 1px;
            border: 1px solid $brand_secondary_color;
            // background: $brand_secondary_color;
            margin-bottom: 30px;
        }
        .button_wrap {
            display: flex;
            justify-content: flex-end;
        }
        button {
            outline: none;
            cursor: pointer;
            border: 2px solid $brand_main_color;
            background: $brand_main_color;
            margin-left: 20px;
            font-size: 18px;
            padding: 15px 30px;
        }
        a {
            border: 2px solid $brand_secondary_color;
            font-size: 18px;
            padding: 15px 30px;
        }
    }
}

// ========================================================== / anketa =======================
// ---------------------------------------------------------- intro ----------------------
.top-bar {
    .logo {
        align-items: center;
        font-size: 40px;
        line-height: 54px;
        color: $brand_secondary_color;
    }
    #right_panel_button {
        position: absolute;
    }
    .contacts_list {
        li {
            font-size: 24px;
            line-height: 1;
            font-weight: 400;
            letter-spacing: .075em;
            i {
                color: $brand_main_color;
                margin-right: 12px;
                font-size: 20px;
            }
        }
        .work_hours {
            i {
                font-size: 22px;
            }
        }
        .phone_number a {
            transition: .2s;
            &:hover {
                color: $brand_main_color;
            }
        }
    }
    @media (min-width: $screen_lg) and (max-width: $screen_lg_max) {
        padding-left: 20px;
        padding-right: 20px;
    }
    @media (min-width: $screen_lg) {
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        top: 0;
        justify-content: space-between;
        .right_panel {
            display: flex;
            .contacts_list {
                display: flex;
                align-items: center;
                list-style: none;
                li+li {
                    border-left: 1px solid #e1e1e1;
                    margin-left: 25px;
                    padding-left: 25px;
                }
            }
            .brand_secondary_button {
                margin-left: 30px;
            }
        }
    }
    @media (max-width: $screen_md_max) {
        color: #151515;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        background: #ffffff;
        position: fixed;
        width: 100%;
        z-index: 100;
        .logo {
            text-align: center;
            font-size: 34px;
            line-height: 55px;
            padding: 0 50px;
        }
        .right_panel {
            position: fixed;
            z-index: 100;
            left: 0;
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            box-shadow: 0 0 22px -4px rgba(0, 0, 0, 0.17);
            z-index: 99;
            transition: .3s;
            transform: translateY(20px);
            visibility: hidden;
            opacity: 0;
            padding: 20px;
            font-size: 16px;
            .contacts_list {
                display: flex;
                flex-direction: column;
                li+li {
                    margin-top: 15px;
                }
            }
            .brand_secondary_button {
                margin-top: 15px;
            }
        }
        #right_panel_button {
            width: 50px;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 101;
            .circle {
                position: absolute;
                border-radius: 50%;
                background: $brand_secondary_color;
                width: 6px;
                height: 6px;
                left: 50%;
                transition: .3s;
            }
            .c_top {
                top: 16px
            }
            .c_mid {
                top: 24px;
            }
            .c_bot {
                top: 32px;
            }
        }
        &.right_panel_open {
            #right_panel_button {
                .circle {
                    margin-left: 1px;
                    margin-top: 1px;
                    width: 4px;
                    height: 4px;
                }
                .c_top {
                    top: 32px
                }
                .c_bot {
                    top: 16px;
                }
            }
            .right_panel {
                transform: translateY(0);
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

header {
    padding-left: 20px;
    padding-right: 23px;
    .messenger-list {
        li+li {
            padding-left: 20px;
        }
        .list_item {
            padding-top: 20px;
            padding-bottom: 20px;
            font-size: 18px;
            i {
                color: #ffffff;
                transition: .2s;
                &:hover {
                    color: $brand_main_color;
                }
            }
        }
    }
    #check {
        position: absolute;
        visibility: hidden;
    }
    @media (min-width: $screen_lg) {
        background-color: $brand_secondary_color;
        nav {
            display: flex;
            justify-content: space-between;
            ul {
                display: flex;
                align-items: center;
            }
            a.active {
                border-top: 3px solid $brand_main_color;
                background-color: #ffffff1f;
            }
            .nav_link {
                display: inline-block;
                padding: 20px 15px;
                font-size: 18px;
                letter-spacing: .05em;
                text-transform: uppercase;
                border-top: 3px solid $brand_secondary_color;
                transition: .2s;
                color: #ffffff;
                &:hover {
                    border-top: 3px solid $brand_main_color;
                }
            }
        }
    }
    @media (max-width: $screen_md_max) {
        #toggle_button {
            position: fixed;
            display: inline-block;
            width: 20px;
            height: 20px;
            top: 18px;
            right: 20px;
            z-index: 101;
            transition: .3s;
            span {
                position: absolute;
                display: inline-block;
                width: 100%;
                height: 3px;
                background: $brand_secondary_color;
                border-radius: 3px;
                transition: .3s;
            }
            .b_mid {
                top: 8px;
            }
            .b_bot {
                top: 16px;
            }
        }
        nav {
            padding: 56px 0;
            position: fixed;
            right: 0;
            display: flex;
            flex-direction: column;
            width: 270px;
            height: 100%;
            background: #ffffff;
            border: 1px solid #d7d7d7;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
            z-index: 99;
            transform: translateX(100%);
            transition: .3s;
        }
        .menu {
            order: 1;
            display: flex;
            flex-direction: column;
            padding-top: 20px;
            .nav_link {
                display: block;
                padding: 9px 56px 9px 18px;
                color: #151515;
                font-family: 'Verdana', sans-serif;
                line-height: 34px;
            }
            .active {
                color: #ffffff;
                background: lighten($brand_main_color, 10%);
            }
        }
        .messenger-list {
            display: flex;
            justify-content: space-evenly;
            border-bottom: 1px solid #e1e1e1;
            .list_item i {
                color: #000;
            }
        }
        &.mob_menu_active {
            #menu_box {
                transform: translateX(0);
            }
            #toggle_button {
                transform: rotate(-180deg);
                .b_top {
                    transform: rotate(-45deg);
                    width: 50%;
                    left: 0;
                    top: 4px;
                }
                .b_bot {
                    transform: rotate(45deg);
                    width: 50%;
                    left: 0;
                    top: 12px;
                }
            }
        }
    }
}

.section_intro {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    .carousel-area {
        flex: auto;
        background: #c0c0c0 url(../assets/carousel/1564394886_kartinki_oboi_devushka_model_poza_devushka_shatenka_vzglja.jpg) no-repeat 97% 0;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        .carousel_content {
            text-align: center;
            text-transform: uppercase;
            &__subtitle {
                font-weight: 400;
                letter-spacing: .15em;
                color: $main_text_color;
                line-height: 1.15;
            }
            &__title {
                margin-top: 30px;
                margin-bottom: 30px;
                max-width: 540px;
                font-size: 70px;
                line-height: 1;
                color: #ffffff;
            }
        }
    }
    @media (max-width: $screen_md_max) {
        .carousel-area {
            align-items: flex-end;
            padding-bottom: 100px;
        }
        .carousel_content__title {
            text-shadow: 0 0 1em #552c1b;
        }
    }
}

// ========================================================== / intro ======================
// ---------------------------------------------------------- about ------------------------
.section_about {
    padding-left: 20px;
    padding-right: 20px;
    .area_promo {
        display: flex;
    }
    .promo_box {
        text-align: center;
        max-width: 370px;
        padding: 66px 15px 50px;
        background: #ffffff;
        box-shadow: 0 0 13px -4px rgba(0, 0, 0, 0.17);
        transition: all .3s ease;
        margin-bottom: 40px;
        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            img {
                width: 50px;
                position: absolute;
            }
            .figure {
                clip-path: polygon(0 28%, 50% 0, 100% 28%, 100% 72%, 50% 100%, 0 72%);
                transform: rotate(14deg);
                transform-origin: 100% 100%;
                width: 70px;
                height: 70px;
                background-color: $brand_main_color;
                transition: .3s;
                position: relative;
            }
        }
        &__title {
            font-size: 24px;
            letter-spacing: 0.05em;
            transition: .3s;
        }
        &__decorLine {
            position: relative;
            max-width: 126px;
            width: 100px;
            height: 2px;
            margin: 20px auto 22px;
            &::before {
                position: absolute;
                content: '';
                height: 100%;
                left: 15px;
                right: 15px;
                background: #d7d7d7;
                transition: all .3s ease;
            }
        }
        &__description {
            font-size: 14px;
            font-family: $brand_secondary_font, "sans-serif";
            letter-spacing: 0.05em;
        }
        &:hover {
            box-shadow: 0 0 13px -4px rgba(0, 0, 0, 0.4);
            transform: scale(1.02);
            .promo_box__decorLine::before {
                left: 0px;
                right: 0px;
                background: $brand_main_color;
            }
            .promo_box__title {
                letter-spacing: 0.1em;
            }
            .figure {
                transform: rotate(4deg);
            }
        }
    }
    .about_area {
        display: flex;
        &__item {
            flex: 1;
        }
    }
    .preview_block {
        position: relative;
        &__item {
            position: absolute;
            height: 95%;
            width: 95%;
            top: 0;
            left: 0;
            transition: .3s ease;
        }
        .preview_border {
            outline: 2px solid black;
        }
        .preview_photo {
            top: 5%;
            left: 5%;
            background: url(../assets/1574866053_telki-v-nizhnem-bele-seksi-31.jpg) no-repeat 0 0;
            background-size: 100% 100%;
        }
        &:hover {
            .preview_border {
                top: 5%;
                left: 5%;
            }
            .preview_photo {
                top: 0;
                left: 0;
            }
        }
    }
    .about_description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        &__title {
            font-size: 36px;
            line-height: 1.20833;
            letter-spacing: 0.05em;
            font-weight: 300;
            margin-bottom: 15px;
        }
        .tabs {
            position: relative;
            margin-bottom: 130px;
            display: flex;
            justify-content: space-between;
            padding-bottom: 8px;
            border-bottom: 3px solid #e1e1e1;
            .tab input[type="radio"] {
                display: none;
            }
            .tab :checked~.tab-content {
                display: block;
            }
            .tab :checked+.tab-title {
                color: $brand_main_color;
                border-bottom: 3px solid $brand_main_color;
            }
            .tab-title {
                color: $secondary_text_color;
                font-size: 24px;
                padding-bottom: 10px;
                letter-spacing: 0.1em;
                cursor: pointer;
                transition: .3s;
                &:hover {
                    color: $brand_main_color;
                }
            }
            .tab-content {
                display: none;
                position: absolute;
                padding: 30px;
                left: 0;
                font-family: $brand_secondary_font;
                color: $secondary_text_color;
                font-size: 14px;
                line-height: 1.4;
            }
        }
    }
    @media (min-width: $screen_lg) {
        .about_description {
            margin: 0 50px;
        }
        .about_area__item {
            height: 450px;
            padding: 0 15px;
            margin-bottom: 50px;
        }
        .area_promo {
            padding: 100px;
        }
        .promo_box+.promo_box {
            margin-left: 30px;
        }
    }
    @media (min-width: $screen_sm) {
        .about_area__item {
            min-height: 400px;
            margin-bottom: 50px;
        }
    }
    @media (max-width: $screen_md_max) {
        .area_promo {
            flex-direction: column;
            align-items: center;
        }
        .about_area {
            flex-direction: column;
        }
    }
    @media (max-width: $screen_xs_max) {
        .about_area__item {
            min-height: 250px;
            margin-top: 50px;
        }
        padding: 120px 20px 60px;
    }
}

// ========================================================== / about ======================
// ---------------------------------------------------------- vacancy ----------------------
.section_vacancy {
    padding-left: 20px;
    padding-right: 20px;
    .vacancy_item {
        display: flex;
        position: relative;
        overflow: hidden;
        .photo_block {
            flex: 1;
            height: 100%;
            overflow: hidden;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: .3s;
            }
        }
        .text_box_wrap {
            flex: 1;
            display: flex;
            align-items: center;
            position: relative;
            overflow: hidden;
            .content_block {
                &__title {
                    letter-spacing: .075em;
                    font-size: 24px;
                    a {
                        transition: .3s;
                        &:hover {
                            color: $brand_main_color;
                        }
                    }
                }
                &__description {
                    font-family: $brand_secondary_font;
                    color: $secondary_text_color;
                    line-height: 1.4em;
                    font-size: 14px;
                    margin: 25px 0 30px;
                }
            }
        }
        .price_label {
            position: absolute;
            top: 0;
            right: 0;
            width: 140px;
            text-align: center;
            line-height: 80px;
            font-size: 1.5em;
            letter-spacing: .025em;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%, 0 70%);
            background-color: $brand_main_color;
            transition: .3s;
            z-index: 10;
        }
        &:hover {
            .price_label {
                width: 160px;
            }
            .photo_block {
                img {
                    transform: scale(1.04);
                }
            }
        }
    }
    @media (min-width: $screen_lg) {
        .vacancy_item {
            border: 1px solid #e1e1e1;
            max-height: 330px;
            margin-bottom: 50px;
        }
        .content_block {
            padding: 30px 80px;
        }
    }
    @media (max-width: $screen_md_max) {
        .vacancy_item {
            flex-direction: column;
            margin-top: 50px;
        }
        .photo_block {
            .photo {
                height: 270px;
            }
        }
        .content_block {
            padding-top: 30px;
        }
    }
    @media (max-width: $screen_xs_max) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

// ========================================================== vacancy ======================
// ---------------------------------------------------------- gallery ----------------------
.section_gallery {
    @media (min-width: $screen_lg) {
        padding-left: 80px;
        padding-right: 80px;
        .gallery {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(4, 8vw);
            grid-gap: 20px;
            &__item {
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: .3s;
                    transform: scale(1.1);
                }
                &:hover {
                    img {
                        transform: scale(1);
                    }
                }
            }
            &__item-1 {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 3;
            }
            &__item-2 {
                grid-column-start: 3;
                grid-column-end: 5;
                grid-row-start: 1;
                grid-row-end: 3;
            }
            &__item-3 {
                grid-column-start: 5;
                grid-column-end: 7;
                grid-row-start: 1;
                grid-row-end: 5;
            }
            &__item-4 {
                grid-column-start: 7;
                grid-column-end: 9;
                grid-row-start: 1;
                grid-row-end: 3;
            }
            &__item-5 {
                grid-column-start: 1;
                grid-column-end: 5;
                grid-row-start: 3;
                grid-row-end: 5;
            }
            &__item-6 {
                grid-column-start: 7;
                grid-column-end: 9;
                grid-row-start: 3;
                grid-row-end: 5;
            }
        }
    }
    @media (max-width: $screen_md_max) {
        .gallery {
            padding: 0 20px;
            .gallery__item {
                margin-top: 20px;
                width: 100%;
                height: 320px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

// ========================================================== / gallery ====================
// ---------------------------------------------------------- contacts ---------------------
.section_contacts {
    background-color: lighten($brand_secondary_color, 10%);
    &__wrap {
        display: flex;
        justify-content: space-around;
        padding-right: 20px;
        padding-left: 20px;
    }
    .contacts_block {
        &__title {
            text-transform: uppercase;
            color: #fff;
            letter-spacing: .1em;
            font-size: 24px;
        }
        &__button {
            margin-top: 60px;
            color: #fff;
            border-color: #fff;
            transition: .3s;
            &:hover {
                color: $main_text_color;
                border-color: $brand_main_color;
            }
        }
        ul {
            margin-top: 20px;
            li {
                line-height: 34px;
            }
            i {
                min-width: 18px;
                margin-right: 20px;
                color: $brand_main_color;
            }
            a {
                color: $secondary_text_color;
                font-family: $brand_secondary_font;
                letter-spacing: 0.05em;
                transition: .3s;
                &:hover {
                    color: $brand_main_color;
                }
            }
        }
        .quick_links_list {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            height: 120px;
            li {
                margin-right: 50px;
            }
            li::before {
                position: relative;
                top: 0.13em;
                content: "•";
                color: $brand_main_color;
                margin-right: 20px;
                font-size: 30px;
            }
        }
    }
    @media (max-width: $screen_md_max) {
        padding-bottom: 0;
        &__wrap {
            flex-direction: column;
        }
        .contacts_block {
            margin-bottom: 60px;
            text-align: center;
            ul {
                text-align: left;
            }
        }
    }
}

// ========================================================== / contacts =====================
// ---------------------------------------------------------- footer -------------------------
.footer {
    background-color: $brand_secondary_color;
    padding: 60px 0;
    text-align: center;
    &__text {
        font-family: $brand_secondary_font;
        letter-spacing: .025em;
        font-size: 14px;
        color: lighten($brand_secondary_color, 10%);
        font-weight: 600;
    }
}

// ========================================================== / footer =======================